*{
    margin: 0;
    padding: 0;
}


.main_container {
    width: 95%;
    margin: auto;
    border: 1px solid blueviolet;
    padding: 3px;
}
.main_container h2 {
    text-align: center;
}
.comment_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0 10px 0;
}

#comment_area {
    outline: none;
}

#submit_btn {
    background-color: none;
    border: none;
    padding: 5px 20px;
    border: 1px solid blueviolet;
    border-radius: 4px;
    cursor: pointer;
}

#comment_container{
    width: 80%;
    margin: auto;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
